.sidebar {
  width: 18%;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid rgba(128, 128, 128, 0.458);
  border-left: 1px solid rgba(128, 128, 128, 0.458);
  height: 80vh; /* Set the height to 100% of the viewport height */
  overflow-y: auto; /* Allow vertical scrolling if the content exceeds the height */
  transition: transform 0.3s ease-out;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  z-index: 1;
}

.sidebar.open {
  transform: translateX(0);
  padding: 25px; 
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  color: #1db954;
}

.border-line {
  border: 0.5px solid rgba(255, 255, 255, 0.389);
  width: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease; /* Add transition for smooth color change */
  padding-top: 15%;
}

.list-item {
  border-top: 1px solid rgba(0, 128, 0, 0.533);
  padding-top: 14px;
}

.sidebar .image {
  width: 100%;
  margin-right: 18px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease; /* Add transition for smooth color change */
  font-weight: 800;
  font-size: 16px;
}

.sidebar ul li a:hover {
  color: #1db954; 
  text-decoration: underline;
}

.sidebar ul li p {
  color: white;
}

